{% set table %}
{{ govukTable({
  caption: "The daily air quality index (DAQI) tells you about levels of air pollution. It provides health advice for current levels.",
  captionClasses: "govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-4",
  firstCellIsHeader: false,
  head: [
    {
      text: "Level"
    },
    {
      text: "Health advice"
    }
  ],
  rows: [
    [
      {
        html: "<strong class='daqi-tag daqi-tag--1'>Low</strong>"
      },
      {
        html: airQualityData['low'].advice
      }
    ],
    [
      {
        html: "<strong class='daqi-tag daqi-tag--4'>Moderate</strong>"
      },
      {
        html: "<p>" + airQualityData['moderate'].advice + "</p><p>" + airQualityData['moderate'].atrisk.adults + "</p><p>" + airQualityData['moderate'].atrisk.asthma + "</p>" + airQualityData['moderate'].atrisk.oldPeople
      }
    ],
    [
      {
        html: "<strong class='daqi-tag daqi-tag--7'>High</strong>"
      },
      {
        html: "<p>" + airQualityData['high'].advice + "</p><p>" + airQualityData['high'].atrisk.adults + "</p><p>" + airQualityData['high'].atrisk.asthma + "</p>" + airQualityData['high'].atrisk.oldPeople
      }
    ],
    [
      {
        html: "<strong class='daqi-tag daqi-tag--10'>Very high</strong>",
        classes:"govuk-table__cell--advice"
      },
      {
        html: "<p>" + airQualityData['veryHigh'].advice + "</p><p>" + airQualityData['veryHigh'].atrisk.adults + "</p><p>" + airQualityData['veryHigh'].atrisk.asthma + "</p>" + airQualityData['veryHigh'].atrisk.oldPeople,
        classes:"govuk-table__cell--advice"
      }
    ]
  ]
}) }}
{% endset %}

{{ govukDetails({
  classes: "govuk-!-margin-bottom-8",
  summaryText: "How different levels of air pollution can affect health",
  html: table
}) }}
