{{ govukTable({
        caption: "Daily air quality index",
        captionClasses: "govuk-table__caption--s govuk-!-margin-bottom-6",
        head: [{
          text: "1"
        }, {
          text: "2"
        }, {
          classes: "daqi-selected",
          text: "3"
        }, {
          text: "4"
        }, {
          text: "5"
        }, {
          text: "6"
        }, {
          text: "7"
        }, {
          text: "8"
        }, {
          text: "9"
        }, {
          text: "10"
        }],
        rows: [
          [{
            classes: "daqi-1"
          }, {
            classes: "daqi-2"
          }, {
            classes: "daqi-3"
          }, {
            classes: "daqi-4"
          }, {
            classes: "daqi-5"
          }, {
            classes: "daqi-6"
          }, {
            classes: "daqi-7"
          }, {
            classes: "daqi-8"
          }, {
            classes: "daqi-9"
          }, {
            classes: "daqi-10"
          }],
          [{
            text: "Low",
            classes: "daqi-band",
            colspan: 3
          }, {
            text: "Moderate",
            classes: "daqi-band",
            colspan: 3
          }, {
            text: "High",
            classes: "daqi-band",
            colspan: 3
          }, {
            text: "Very High",
            classes: "daqi-band"
          }]
        ]
      }) }}