{{ govukTable({
        caption: "Daily air quality index",
        captionClasses: "daqi-table__caption govuk-!-margin-bottom-6",
        head: [{
          classes: "daqi-table__header",
          text: "1"
        }, {
          classes: "daqi-table__header",
          text: "2"
        }, {
          classes: "daqi-table__header daqi-selected daqi-3",
          text: "3"
        }, {
          classes: "daqi-table__header",
          text: "4"
        }, {
          classes: "daqi-table__header",
          text: "5"
        }, {
          classes: "daqi-table__header",
          text: "6"
        }, {
          classes: "daqi-table__header",
          text: "7"
        }, {
          classes: "daqi-table__header",
          text: "8"
        }, {
          classes: "daqi-table__header",
          text: "9"
        }, {
          classes: "daqi-table__header",
          text: "10"
        }],
        rows: [
          [{
            classes: "daqi-1 daqi-table__cell"
          }, {
            classes: "daqi-2 daqi-table__cell"
          }, {
            classes: "daqi-3 daqi-table__cell"
          }, {
            classes: "daqi-4 daqi-table__cell"
          }, {
            classes: "daqi-5 daqi-table__cell"
          }, {
            classes: "daqi-6 daqi-table__cell"
          }, {
            classes: "daqi-7 daqi-table__cell"
          }, {
            classes: "daqi-8 daqi-table__cell"
          }, {
            classes: "daqi-9 daqi-table__cell"
          }, {
            classes: "daqi-10 daqi-table__cell"
          }],
          [{
            text: "Low",
            classes: "daqi-band",
            colspan: 3
          }, {
            text: "Moderate",
            classes: "daqi-band",
            colspan: 3
          }, {
            text: "High",
            classes: "daqi-band",
            colspan: 3
          }, {
            text: "Very High",
            classes: "daqi-band"
          }]
        ]
      }) }}
      {{ govukDetails({
        summaryText: "What is the Daily Air Quality Index?",
        text: "About text to be placed here"
      }) }}