{% import "./components/pollutant/marco.njk" as custom %}

<div class="govuk-grid-column-full">
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
</div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
        <span class="govuk-caption-m">Nearest measurement station</span>
        Port talbot
    </h2>
      <h3 class="govuk-heading-m">Gases</h3>
      <p>
        The main air pollutants that are measured in <strong>Port Talbot</strong> are nitrogen dioxide (NO2), sulphur dioxide (SO2) and ozone (O3). The sources of these gases are from burning fossil fuels such as petrol, diesel, wood and coal.
      </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">Recent measurements</h3>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-3">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Ozone (O3)</a></h3>
      <p class="govuk-body govuk-!-margin-bottom-1">
        Formed in the air from reactions between other pollutants.
      </p>
      <div class="pollutant-value">
        <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-80">65</span>
        <span class="govuk-body govuk-!-font-weight-bold">
            micrograms (μg/m3)
        </span>
      </div>
      {{ govukTag({
        text: "Low",
        classes: "govuk-tag--turquoise govuk-!-margin-right-1"
      }) }}<span class="govuk-body-s">Limit: 120 (μg/m3)</span>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-3">
    {{ custom.appPollutants({
        items: [{
          href: "#",
          type: "Ozone (O3)",
          description: "Formed in the air from reactions between other pollutants.",
          value: "65",
          unit: "micrograms (μg/m3)"
        }]
    }) }}
    
    {{ govukTag({
      text: "Low",
      classes: "govuk-tag--turquoise govuk-!-margin-right-1"
    }) }}<span class="govuk-body-s">Limit: 120 (μg/m3)</span>
</div>
</div>
