{% from "govuk/components/table/macro.njk" import govukTable %}

{% set rows = [] %}
{% for station in measurementStations %}
  {% set row = [
    {
      html: '<a href="/stations/' + (station.slug | default("missing-slug")) + '">' + (station.station_name | default("Missing Name")) + '</a>'
    }, 
    {
      text: (station.type | default("Missing Type"))
    },   
    {
      html: ' <strong class="daqi-tag daqi-tag--' + (station.average_daqi_value | default("missing-value")) + '">' + (station.average_daqi_label | default("Missing Average Label")) + '</strong>'
    }
  ] %}
  {% set _ = rows.push(row) %}
{% endfor %}

{{ govukTable({
  classes: "govuk-!-margin-bottom-5",
  caption: "Nearest measurement stations",
  captionClasses: "govuk-table__caption--m govuk-!-margin-top-4 govuk-!-margin-bottom-4",
  firstCellIsHeader: true,
  head: [
    {
      text: "Station name",
      classes: "govuk-!-width-one-quarters"
    },
    {
      text: "Area type",
      classes: "govuk-!-width-one-quarters"
    },
    {
      text: "Pollution level"
    }
  ],
  rows: rows
}) }}

{{ govukDetails({
  summaryText: "What are the different areas types that are measured?",
  classes: "govuk-!-margin-bottom-6",
  html: "
  <h3 class='govuk-heading-s govuk-!-margin-bottom-2'>Urban</h3>
  <p>An area, like a city or a town, where there are many 2-storey buildings.
    For the measurement of ozone, an urban area includes:</p>
  <ul class='govuk-list--bullet'>
    <li>residential buildings</li>
    <li>commercial facilities</li>
    <li>parks</li>
    <li>big streets or squares with low levels of traffic</li>
    <li>educational, sports and recreational facilities</li>
  </ul>
  <h3 class='govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2'>Rural</h3>
  <p>A rural site can be in a small settlement or area with natural ecosystems, forests or crops. The sites are more than 20 kilometres from cities and towns and more than 5 kilometres away from:</p>
  <ul class='govuk-list--bullet'>
    <li>industrial sites</li>
    <li>motorways</li>
    <li>major roads</li>
  </ul>
  <h3 class='govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2'>Suburban</h3>
  <p>Suburban areas are located either on their own or on the outskirts of a city or urban area. They are areas of different-sized buildings that may be close to:</p>
  <ul class='govuk-list--bullet'>
    <li>farms</li>
    <li>lakes</li>
    <li>woods</li>
  </ul>
  <p>Measurements of Ozone are taken where there is a high exposure to:</p>
  <ul class='govuk-list--bullet'>
    <li>humans</li>
    <li>sensitive crops</li>
    <li>natural ecosystems</li>
  </ul>
  "
}) }}
