{% for site in monitoringSites %}
{% set time %}
    {{ "now" | date | minusOneHour }}
{% endset %}

{% set measurementToggletip %}
  {{ toggletip(
    '',
    'More information about measurement',
    'Readings are measured every hour. The unit µg/&#13221; stands for micrograms (one millionth of a gram) per cubic metre of air.',
    'Latest μg/&#13221;'
  )}}
{% endset %}

{% set trendToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'The trend is taken from the last 3 readings which are updated hourly
    ',
    'Trend'
  )}}
{% endset %}

{% set levelToggletip %}
  {{ toggletip(
    '',
    'More information about the level',
    'There are 4 levels: low, moderate, high and very high. The level is determined by the highest reading of a single pollutant.
    ',
    'Level'
  )}}
{% endset %}
{% set siteNameToggletip %}
  {{ toggletip(
    '',
    'More information about ' + site.site_name,
    siteTypeDescriptions[site.site_type],
    site.site_name
  )}}
{% endset %}
  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ siteNameToggletip | safe }}</h3>
  <p class="govuk-caption-m govuk-!-margin-bottom-2">{{ site.distance }} miles away</p>
  {% set rows = [] %}
  {% for pollutant in site.pollutants %}
      {% set pollutantDetail = pollutantTypes[pollutant.type] %}
      {% set row = [
          { 
              html: "<a href='" + pollutantDetail.href + "'>" + pollutantDetail.title + "</a>",
              classes: "align-middle defra-aq-levels-table__cell--pollutant" 
          },
          { 
              html: "<p class='govuk-body govuk-!-margin-bottom-1'>" + (pollutant.measurement | int) + "</p><p class='govuk-caption-s govuk-!-margin-bottom-1'>Low range " + pollutantDetail.low_range + "</p>",
              classes: "align-middle defra-aq-levels-table__cell--reading" 
          },
          { 
              html: pollutant.trend, 
              classes: "align-middle defra-aq-levels-table__cell--trend" 
          },
          { 
              html: "<strong class='daqi-tag daqi-tag--" + (pollutant.aqi if pollutant.aqi else "default-aqi-value") + "'>" + pollutant.band + "</strong>",
              classes: "align-middle defra-aq-levels-table__cell--level" 
          }
      ] %}
      {% set _ = rows.push(row) %}
  {% endfor %}
  {{ aqLevelsTable({
      classes: "govuk-!-margin-bottom-2",
      firstCellIsHeader: false,
      head: [
        { text: "Pollutant", classes: "defra-aq-levels-table__cell--pollutant"},
        { html: measurementToggletip, classes: "defra-aq-levels-table__cell--reading" },
        { html: trendToggletip, classes: "defra-aq-levels-table__cell--trend" },
        { html: levelToggletip, classes: "defra-aq-levels-table__cell--level" }
      ],
      rows: rows
  }) }}
  <p class='govuk-caption-s govuk-!-margin-bottom-6'>Latest {{ "now" | date | minusOneHour | lower }}</p>
{% endfor %}
