{% for site in monitoringSites %}
{% set time %}
    {{ "now" | date | minusOneHour }}
{% endset %}

{% set measurementToggletip %}
  {{ toggletip(
    '',
    'More information about measurement',
    'Readings are measured every hour. The unit µg/&#13221; stands for micrograms (one millionth of a gram) per cubic metre of air.',
    'Latest μg/&#13221;'
  )}}
{% endset %}

{% set trendToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'The last 3 readings are used to calculate the trend.
    ',
    'Trend'
  )}}
{% endset %}

{% set levelToggletip %}
  {{ toggletip(
    '',
    'More information about the level',
    'There are 4 levels: low, moderate, high and very high. The level is determined by the highest reading of a single pollutant.
    ',
    'Level'
  )}}
{% endset %}
{% set siteNameToggletip %}
  {{ toggletip(
    '',
    'More information about ' + site.site_name,
    siteTypeDescriptions[site.site_type],
    site.site_name
  )}}
{% endset %}
  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ siteNameToggletip | safe }}</h3>
  <p class="govuk-caption-m govuk-!-margin-bottom-2">{{ site.distance }} miles away</p>
  {% set rows = [] %}
  {% for pollutant in site.pollutants %}
      {% set pollutantDetail = pollutantTypes[pollutant.type] %} {# Retrieve details from pollutantTypes #}
      {% set row = [
          { 
              html: "<p class='govuk-body govuk-!-margin-bottom-1'><a href='" + pollutantDetail.href + "'>" + pollutantDetail.title + "</a></p><p class='govuk-caption-s govuk-!-margin-bottom-1'></p>",
              classes: "align-middle" 
          },
          { 
              html: "<p class='govuk-body govuk-!-margin-bottom-1'>" + pollutant.measurement + "</p><p class='govuk-caption-s govuk-!-margin-bottom-1'>Low range " + pollutantDetail.low_range + "</p>",
              classes: "align-middle" 
          },
          { 
              html: pollutant.trend, 
              classes: "align-middle" 
          },
          { 
              html: "<strong class='daqi-tag daqi-tag--" + (pollutant.aqi if pollutant.aqi else "default-aqi-value") + "'>" + pollutant.band + "</strong>",
              classes: "align-middle" 
          }
      ] %}
      {% set _ = rows.push(row) %}
  {% endfor %}
  {{ govukTable({
      classes: "govuk-!-margin-bottom-2",
      firstCellIsHeader: false,
      head: [
        { text: "Pollutant"},
        { html: measurementToggletip, classes: "govuk-!-width-one-third" },
        { html: trendToggletip },
        { html: levelToggletip }
      ],
      rows: rows
  }) }}
  <p class='govuk-caption-s govuk-!-margin-bottom-6'>Latest {{ "now" | date | minusOneHour | lower }}</p>
{% endfor %}
