
<h2 class="govuk-heading-s">Gases</h2>
<p>Gases, mainly produced from the burning of fossil fuels, can cause shortness of breath and eventually lead to an increase in respiratory illnesses.</p>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/pollutants/ozone">Ozone</a>
  </li>
  <li>
    <a class="govuk-link" href="/pollutants/nitrogen-dioxide">Nitrogen dioxide</a>
  </li>
  <li>
    <a class="govuk-link" href="/pollutants/sulphur-dioxide">Sulphur dioxide</a>
  </li>
</ul>
<h2 class="govuk-heading-s">Particulate matter (PM)</h2>
<p>Particulate matter are tiny pieces of solid or liquid particles suspended in the air. They come from sources like car tyres, brakes, exhausts, dust, wood burning, and pollen. They can cause difficulties in breathing and lead to lung conditions like asthma.</p>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/pollutants/particulate-matter2">PM 2.5</a>
  </li>
  <li>
    <a class="govuk-link" href="/pollutants/particulate-matter10">PM 10</a>
  </li>
</ul>
