<h3 class="govuk-heading-s govuk-!-margin-bottom-0">A3 Brighton Road</h3>
<p class="govuk-caption-m">8.6 miles away</p>
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <p style="margin:0" class="govuk-body govuk-!-font-weight-bold"><a href="">Ozone</a>, <span class="govuk-!-font-weight-regular">8:45am today</span></p>
  </div>
  <div class="govuk-summary-card__content" style="padding:20px">
    <div class="air-quality-statistics">
      <dl class="air-quality-statistics__list" aria-label="Latest readings">
        <div class="air-quality-statistics__item">
          <dt class="air-quality-statistics__key">Measurement</dt>
          <dd class="air-quality-statistics__value">50.3 <span class="govuk-body-m">μg/㎥</span></dd>
        </div>
        <div class="air-quality-statistics__item">
          <dt class="air-quality-statistics__key">Trend</dt>
          <dd class="air-quality-statistics__value">Steady</dd>
        </div>
        <div class="air-quality-statistics__item">
          <dt class="air-quality-statistics__key">Level</dt>
          <dd class="air-quality-statistics__value">Low</dd>
        </div>
      </dl>
      <p class="govuk-caption-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">
        Low range 0 to 200 μg/㎥
      </p>
    </div>
  </div>
</div>
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <p style="margin:0" class="govuk-body govuk-!-font-weight-bold"><a href="">Nitrogen dioxide</a>, <span class="govuk-!-font-weight-regular">8:45am today</span></p>
  </div>
  <div class="govuk-summary-card__content" style="padding:20px">
    <div class="air-quality-statistics">
      <dl class="air-quality-statistics__list" aria-label="Latest readings">
        <div class="air-quality-statistics__item">
          <dt class="air-quality-statistics__key">Measurement</dt>
          <dd class="air-quality-statistics__value">50.3 <span class="govuk-body-m">μg/㎥</span></dd>
        </div>
        <div class="air-quality-statistics__item">
          <dt class="air-quality-statistics__key">Trend</dt>
          <dd class="air-quality-statistics__value">Steady</dd>
        </div>
        <div class="air-quality-statistics__item">
          <dt class="air-quality-statistics__key">Level</dt>
          <dd class="air-quality-statistics__value">Low</dd>
        </div>
      </dl>
      <p class="govuk-caption-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">
        Low range 0 to 200 μg/㎥
      </p>
    </div>
  </div>
</div>
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <p style="margin:0" class="govuk-body govuk-!-font-weight-bold"><a href="">Particulate matter 2.5</a>, <span class="govuk-!-font-weight-regular">8:45am today</span></p>
  </div>
  <div class="govuk-summary-card__content" style="padding:20px">
    <div class="air-quality-statistics">
      <dl class="air-quality-statistics__list" aria-label="Latest readings">
        <div class="air-quality-statistics__item">
          <dt class="air-quality-statistics__key">Measurement</dt>
          <dd class="air-quality-statistics__value">50.3 <span class="govuk-body-m">μg/㎥</span></dd>
        </div>
        <div class="air-quality-statistics__item">
          <dt class="air-quality-statistics__key">Trend</dt>
          <dd class="air-quality-statistics__value">Rising</dd>
        </div>
        <div class="air-quality-statistics__item">
          <dt class="air-quality-statistics__key">Level</dt>
          <dd class="air-quality-statistics__value">Low</dd>
        </div>
      </dl>
      <p class="govuk-caption-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">
        Low range 0 to 200 μg/㎥
      </p>
    </div>
  </div>
</div>


