
<h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a href="/pollutants/ozone">Ozone</a></h3>
<p>When chemicals from sources such as cars and factories react with sunlight they form ozone. Unlike the ozone layer, which protects us from harmful UV rays, ozone gas is harmful to our health.</p>

<h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a href="/pollutants/nitrogen-dioxide">Nitrogen dioxide</a></h3>
<p>A byproduct of burning fossil fuel and one of the main sources of air pollution.</p>

<h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a href="/pollutants/sulphur-dioxide">Sulphur dioxide</a></h3>
<p>Produced from the burning of fossil fuels like diesel, petrol, and gas, it carries a strong smell.</p>

<h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a href="/pollutants/particulate-matter2">Particulate matter (PM2.5)</a></h3>
<p>Tiny particles of solids or liquid that come from sources such as dust, smoke and agriculture.</p>

<h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a href="/pollutants/particulate-matter10">Particulate matter (PM10)</a></h3>
<p>Small particles of solid or liquid that come from sources such as construction sites, wildfires, pollen and power plants. </p>
