</div>
</div>
<div class="govuk-grid-row">
{{ toggletip(
  '',
  'More information about the latest reading',
  'We get readings more often as the risk of flooding increases.',
  '<h3 class="govuk-heading-s govuk-!-margin-bottom-1">A505 Exeter Road</h3>'
)}}


<div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
  <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
    <a class="govuk-link" href="">Nitrogen dixoide</a>
  </h3>
  <div class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-weight-bold govuk-!-font-size-80">
    54.0<span class="govuk-body-l govuk-!-font-weight-bold">μg/㎥</span>
  </div>
    <p class="govuk-body-m govuk-!-margin-top-1">
      Low range 0 to 200 μg/㎥
    </p>
</div>

<div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
{{ govukTable({
  classes: "",
  caption: "",
  captionClasses: "",
  firstCellIsHeader: false,
  head: [
    {
      text: "Updated",
      classes: ""
    },
    {
      text: "Today at 18:00pm",
      classes: "govuk-body-m"
    }
  ],
  rows: [
    [
      {
        text: "Updated"
      },
      {
        text: "Today at 18:00pm"
      }
    ],
    [
      {
        text: "Trend"
      },
      {
        text: "Rising"
      }
    ],
    [
      {
        text: "Level"
      },
      {
        text: "Low"
      }
    ]
  ]
}) }}
</div>