<h2 class="govuk-heading-m govuk-!-margin-bottom-6">Learn how air pollutants can affect your health</h2>
{{ appCards({
  items: [{
    href: "/pollutants/ozone",
    text: "Ozone",
    description: "Long term exposure to ozone may lead to increased respiratory illnesses, cancer and heart issues."
  }, {
    href: "/pollutants/nitrogen-dioxide",
    text: "Nitrogen dioxide",
    description: "Long term exposure for children can lead to poorer lung function  and increased respiratory infections."
  }, {
    href: "/pollutants/sulphur-dioxide",
    text: "Sulphur dioxide",
    description: "Long term exposure to sulphur dioxide can lead to poorer lung function  and increased respiratory infections."
  }, {
    href: "/pollutants/particulate-matter10",
    text: "PM10",
    description: "Long term health impacts of PM10 can lead to an increased risk of lung tissue damage, asthma and cancer."
  }, {
    href: "/pollutants/particulate-matter2",
    text: "PM2.5",
    description: "Long term health impacts of PM2.5 can lead to an increased risk of strokes, lung cancer and diabetes."
  }]
}) }}