<h2 class="govuk-heading-m govuk-!-margin-bottom-6">Learn how air pollutants can affect your health</h2>
{{ appCards({
  items: [{
    href: "/pollutants/ozone",
    text: "Ozone",
    description: "Long term exposure to breathing in ground level ozone may lead to an increased risk of reproductive issues and cancer."
  }, {
    href: "/pollutants/nitrogen-dioxide",
    text: "Nitrogen dioxide",
    description: "Long term exposure to nitrogen dioxide may lead to an increased risk of respiratory infection and poorer lung function in children."
  }, {
    href: "/pollutants/sulphur-dioxide",
    text: "Sulphur dioxide",
    description: "Long term exposure to sulphur dioxide can lead to poorer lung function and increased respiratory infections."
  }, {
    href: "/pollutants/particulate-matter10",
    text: "PM10",
    description: "Long term exposure to PM10 may lead to an increased risk of heart failure, cancer and chronic obstructive pulmonary disease (COPD)"
  }, {
    href: "/pollutants/particulate-matter2",
    text: "PM2.5",
    description: "Long term exposure to PM2.5 may lead to an increased risk of Alzheimer's disease, Parkinson's disease and strokes."
  }]
}) }}