.defra-aq-levels-table {
  @extend .govuk-table;
  position: relative;
  margin-top: -1px;
  margin-bottom: 0px;
  @include mq ($until: tablet) {
    display: block;
  }
  &__head {
    @include mq ($until: tablet) {
      display: block;
    }   
  }
  &__head tr {
    @include mq ($until: tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__head &__cell {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    &--pollutant {
      @include mq ($until: tablet) {
        @include defra-visually-hidden();
      }
    }
  }
  &__body {
    @include mq ($until: tablet) {
      display: block;
    }
  }
  &__row {
    border-top: 1px solid govuk-tint($govuk-border-colour, 0);
    border-bottom: 1px solid govuk-tint($govuk-border-colour, 0);
    @include mq ($until: tablet) {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: -1px;
    }
  }
  &__cell {
    @extend .govuk-table__cell;
    border-bottom: 0px;
    vertical-align: middle;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    @include mq ($until: tablet) {
      display: inline-block;
      padding-top:0px;
      padding-bottom: 10px;
    }
    a {
      display: inline-block;
    }
    a:not(:hover) {
      text-decoration: none;
    }
  }
  &__cell--pollutant {
    @include govuk-font($size: 19, $weight: bold);
    width: 40%;
    padding-right:20px;
    @include mq ($until: tablet) {
      padding-top:10px;
      padding-bottom:5px;
      padding-right: 0px;
      width: 100%;
    }
  }
  &__cell--reading {
    @include govuk-font($size: 19, $weight: bold);
    width: 20%;
    @include mq ($until: tablet) {
      width: 35%;
      //flex: 1 1 1em;
    }
  }
  &__cell--trend {
    width: 20%;
    @include mq ($until: tablet) {
      width: 30%;
      //flex: 1 1 3.5em;
    }
  }
  &__cell--level {
    width: 20%;
    @include mq ($until: tablet) {
      width: 35%;
      //flex: 1 1 0.5em;
    }
  }
  &__cell--level strong {
    position: relative;
    top: -1px;
  }
}


