.defra-aq-tabs {
    margin-bottom: 0;
    padding: 0;
    .govuk-tabs__list {
        display: none; 
    }
    
    .govuk-tabs__list-item {
        text-align: left;
    }

    .govuk-tabs__list-item--forecast {
        text-align: center;
    }

    .govuk-tabs__panel {
        margin-bottom: govuk-spacing(6);
        padding-bottom: 0;
        border: 0;
        @include mq ($from: tablet) {
            margin-bottom: govuk-spacing(8);
        }
    }

    .govuk-tabs__panel h3 {
        position: relative;
        margin-top: govuk-spacing(3);
        @include mq ($from: tablet) {
            padding: 0;
            margin: 0;
        }
    }

    .govuk-tabs__panel h3 {
        position: relative;
    }

    .govuk-tabs__panel:last-child {
        margin-bottom: govuk-spacing(8);
    }

    .govuk-tabs__panel--forecast {
        margin-bottom: govuk-spacing(0);
        padding-bottom: govuk-spacing(0);
        border-bottom:1px solid $govuk-border-colour;
        @include mq ($from: tablet) {
            margin-bottom: govuk-spacing(6);
            padding-bottom: 0;
            border: 0;
        }
    }

    .govuk-tabs__panel--forecast:last-child {
        border: 0;
        margin-bottom: govuk-spacing(4);
        padding-bottom: 0;
    }

    .govuk-tabs__tab {
        display: block;
    }

    .govuk-tabs__tab--forecast {
        text-align: center;
        display: block;
    }

    .govuk-tabs__title {
        display: none;
        @include mq ($from: tablet) {
            display: block;
            @include defra-visually-hidden();
        }
    }
    // border-bottom:1px solid $govuk-border-colour;
    // margin-bottom:10px;
    @include mq ($from: tablet) {
        border-bottom:0px;
        margin-bottom:0px;
        padding-top: 5px;
    }
    &__label {
        text-decoration: underline;
    }
    &__label-status {
        padding-top: govuk-spacing(1);
        display:block;
        @include govuk-font($size: 16);
        text-decoration: none;
    }
    &__label-distance {
        padding-top: govuk-spacing(1);
        display:block;
        @include govuk-font($size: 16);
        text-decoration: none;
    }
    &__label-daqi {
        display:block;
        padding: govuk-spacing(1) 0 0 0;
        @include govuk-font($size: 24);
        text-decoration: none;
    }
    // button {
    //     display: none;
    //     @include mq ($from: tablet) {
    //         display: block;
    //     }
    // }
}

.defra-aq-tabs-status {
    display: block;
    position: absolute;
}

.defra-aq-tabs .govuk-tabs__list-item--selected {
    .defra-aq-tabs-status {
        display: none;
    }
}

h3 strong {
    margin-left: govuk-spacing(2);
    position: absolute;
    bottom: -1px;
    @include mq ($from: tablet) {
        @include defra-visually-hidden();
    }
}




.js-enabled {
    .defra-aq-tabs .govuk-tabs__tab:active .defra-aq-tabs__label,
    .defra-aq-tabs .govuk-tabs__tab:focus .defra-aq-tabs__label,
    .govuk-tabs__list-item--selected .defra-aq-tabs__label {
        text-decoration: none;
    }
}
.js-enabled .defra-aq-tabs {
    > h3 {
        @include mq ($from: tablet) {
            display: block;
        }
    }


    .govuk-tabs__list {
        @include mq ($from: tablet) {
            display: block;
        }  
    }
    .govuk-tabs__panel {
        @include mq ($from: tablet) {
            @include govuk-responsive-margin(6, 'bottom');
            padding-left: 0;
            padding-right: 0;
            border: 0;
        }
    }
    
    .govuk-tabs__panel--sites {
        @include mq ($from: tablet) {
            // @include govuk-responsive-margin(2, 'bottom')
            padding-top: govuk-spacing(1);
        }
    } 

    // .govuk-tabs__panel h3 {
    //     @include mq ($from: tablet) {
    //         @include defra-visually-hidden();
    //     }
    // }
}

.defra-aq-tabs--forecast {
    border-top:1px solid $govuk-border-colour;
    @include mq ($from: tablet) {
        border: 0;
    }
}