{% extends "layouts/main.html" %}
{% set caption = "" %}
{% set title = "Nitrogen dioxide (NO₂)" %}
{% set displayBacklink = false %}
{% set pageHeadingSize = pageHeadingSize or "xl" %}


{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{% if caption %}<span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title | safe }}</h1>
      <h2 class="govuk-heading-m">Sources of nitrogen dioxide</h2>
      <p>Nitrogen dioxide is a colourless gas. It's mainly produced during:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>burning of petrol or diesel in a car engine</li>
        <li>burning natural gas in a central-heating boiler or power station</li>
        <li>welding</li>
        <li>the use of explosives</li>
        <li>commercial manufacturing</li>
        <li>food manufacturing</li>
      </ul>
       <h2 class="govuk-heading-m">Health effects </h2>
      <p>
        Short term exposure to nitrogen dioxide can cause:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>asthma attacks</li>
        <li>respiratory infections</li>
        <li>symptoms of people with lung or heart conditions could be made worse</li>
      </ul>
      <p>
        Long term exposure to Nitrogen dioxide may lead to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an increased risk of respiratory infection and poorer lung function in children</li>
      </ul>
    </div>
    </div>
{% endblock %}

