{% extends "layouts/main.html" %}
{% set caption = "" %}
{% set title = "Particulate matter (PM2.5)" %}

{% set displayBacklink = false %}
{% set pageHeadingSize = pageHeadingSize or "xl" %}


{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{% if caption %}<span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title | safe }}</h1>
      <h2 class="govuk-heading-m">Sources of PM2.5</h2>
      <p>Particulate matter (PM), are small particles of solids or liquids that are in the air. The particles are only 2.5 micrometres in diameter. For context, the width of a human hair is 50 to 70 micrometres.</p>
      <p>PM2.5 particles may include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>dust</li>
        <li>soot</li>
        <li>smoke</li>
        <li>drops of liquid</li>
      </ul>
      <p>The main sources of particulate matter are from:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>burning of fuel by vehicles, industry and domestic properties</li>
        <li>wear of tyres and brakes</li>
        <li>wind blown soil and dust</li>
        <li>sea spray particles</li>
        <li>fires involving burning vegetation</li>
      </ul>
      <h2 class="govuk-heading-m">Health effects </h2>
      <p>Short term health impacts of PM2.5 can include worsening of conditions such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>asthma</li>
        <li>chronic obstructive pulmonary disease (COPD)</li>
        </ul>
      <p>Long term term health impacts of PM2.5 can include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>stroke</li>
        <li>lung cancer</li>
        <li>diabetes</li>
        <li>Alzheimer's and Parkinson's disease</li>
        <li>reduced lung function growth in children</li>
      </ul>
    </div>
  </div>
{% endblock %}
