<div class="govuk-grid-column-full">
  <div class="app-section__heading">
    <h2 class="govuk-heading-l">
    <span class="govuk-caption-m">{{ params.caption }}</span>
      {{ params.title }}
    </h2>
  </div>
 </div>