
// DAQI Colours

$daqi-colour-0: govuk-colour("light-grey");
$daqi-colour-1: govuk-colour("green");
$daqi-colour-2: govuk-colour("green");
$daqi-colour-3: govuk-colour("green");
$daqi-colour-4: govuk-colour("yellow");
$daqi-colour-5: govuk-colour("yellow");
$daqi-colour-6: govuk-colour("yellow");
$daqi-colour-7: govuk-colour("red");
$daqi-colour-8: govuk-colour("red");
$daqi-colour-9: govuk-colour("red");
$daqi-colour-10: govuk-colour("purple");