{% extends "layouts/main.html" %}
{% set displayBreadcrumbs = true %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>check air quality in a local area</li>
        <li>find information on air pollutants</li>
       <!-- That this is not required for the MVP <li>access the local authority website to find out what is being done to improve air quality</li> -->
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "where.html",
        isStartButton: true
      }) }}
    </div>
  </div>

{% endblock %}
