{% extends "layouts/location-template.html" %}

{% from "components/pollutant/macro.njk" import appPollutant %}
{% from "components/section/macro.njk" import appSection %}
{% from "components/subsection/macro.njk" import appSubsection %}

{% set caption = "Air quality" %}
{% set title = location.name + ", " + location.region %}

{% set pageHeadingSize = pageHeadingSize or "xl" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-{{ pageHeadingSize }}">
        {% if caption %}
        <span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title }}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body govuk-!-margin-bottom-6">The air quality today is <strong>{{ airQuality.value }}</strong>, with <strong>{{ airQuality.band }}</strong> levels of air pollution.</p>
      {% include "includes/daqi.html" %}
      <h2 class="govuk-heading-m">Health advice</h2>
      <p class="govuk-!-margin-bottom-6">
        {{ airQuality.advice }}
      </p>
      <h2 class="govuk-heading-m">UK Summary</h2>
      <p class="govuk-!-margin-bottom-6">
        {{ airQuality.outlook }}
      </p>
      {% include "includes/measurement-stations.html" %}
    </div>
    <div class="govuk-grid-column-one-third">
        {{ xGovukRelatedNavigation({
          sections: [{
            items: [{
              text: "",
              href: ""
            }],
            subsections: [{
              title: "Gases",
              items: [{
                text: "Ozone (O₃)",
                href: "/ozone"
              },
              {
                  text: "Nitrogen dioxide (NO₂)",
                  href: "/nitrogen-dioxide"
                },
                {
                  classes: "govuk-heading-xl",
                  text: "Sulphur dioxide (SO₂)",
                  href: "/sulphur-dioxide"
                }]
              }, 
              {
              title: "Particles",
                  items: [{
                  text: "Particulate matter (PM2.5)",
                  href: "/particulate-matter2"
              },
              {
                  text: "Particulate matter (PM10)",
                  href: "/particulate-matter10"
              }
              ]
            }]
          }]
        }) }}
    </div>
  </div>
  
{% endblock %}

