{% extends "layouts/main.html" %}
{% set displayBreadcrumbs = false %}
{% set title = "Locations matching 'millbrook'" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Locations matching 'millbrook'</h1>
    <p>More than one match was found for your location. Choose the correct location from the following options:</p>

    <ul class="govuk-list">
      <li><a href="/location/millbrook-torpoint-cornwall"><mark>Millbrook</mark>, Torpoint, Cornwall</a></li>
      <li><a href="/location/millbrook-bedford-bedford"><mark>Millbrook</mark>, Bedford, Bedford</a></li>
    </ul>
    <p>Alternatively, <a href="/where">try searching again</a></p>
  </div>
</div>
{% endblock %}

