{% extends "layouts/content.html" %}
{% from "components/pollutant_table/macro.njk" import appPollutant_table %}
{% set caption = "Gases" %}
{% set title = "Nitrogen dioxide (NO₂)" %}
{% set displayBacklink = false %}
{% set pageHeadingSize = pageHeadingSize or "xl" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{% if caption %}<span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title | safe }}</h1>
    </div>
  </div>  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Sources of nitrogen dioxide</h2>
      <p>Nitrogen dioxide is a colourless gas. It's mainly produced during:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>burning of petrol or diesel in a car engine</li>
        <li>burning natural gas in a central-heating boiler or power station</li>
        <li>welding</li>
        <li>commercial manufacturing</li>
        <li>food manufacturing</li>
      </ul>
      <h2 class="govuk-heading-m">Health effects </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>asthma</li>
        <li>respiratory infections</li>
        <li>allergies</li>
        <li>symptoms of people with lung or heart conditions</li>
      </ul>
      <p class="govuk-body govuk-!-margin-bottom-8">Long-term exposure to nitrogen dioxide by children increases their risk of respiratory infection and may lead to poorer lung function in later life.</p>
      {{ appPollutant_table({
        caption: "Nitrogen dioxide levels<p class='govuk-!-margin-top-2'>Based on the hourly mean concentration.</p>",
    bands: [
        { label: 'Low', value: "0 - 33" },
        { label: 'Low', value: "68 - 134" },
        { label: 'Low', value: "135 - 200" },
        { label: 'Moderate', value: "201 - 267" },
        { label: 'Moderate', value: "268 - 334" },
        { label: 'Moderate', value: "335 - 400" },
        { label: 'High', value: "401 - 467" },
        { label: 'High', value: "468 - 534" },
        { label: 'High', value: "535 - 600" },
        { label: 'Very high', value: "601 or more" }
    ]
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{ xGovukRelatedNavigation({
        sections: [{
          items: [{
            text: "",
            href: ""
          }],
          subsections: [{
            title: "Gases",
            items: [{
              text: "Ozone (O₃)",
              href: "/ozone"
            },
              {
                classes: "govuk-heading-xl",
                text: "Sulphur dioxide (SO₂)",
                href: "/sulphur-dioxide"
              }]
            }, 
            {
            title: "Particles",
                items: [{
                text: "Particulate matter (PM2.5)",
                href: "/particulate-matter2"
            },
            {
                text: "Particulate matter (PM10)",
                href: "/particulate-matter10"
            }
            ]
          }]
        }]
      }) }}
    </div>
  </div>
{% endblock %}

