{% extends "layouts/content.html" %}
{% set caption = "" %}
{% set title = "Ozone (O₃)" %}

{% set displayBacklink = false %}
{% set pageHeadingSize = pageHeadingSize or "xl" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{% if caption %}<span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title | safe }}</h1>
    </div>
  </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">Sources of ozone</h2>
      <p>There are no major emission sources of ozone itself. Reactions between other pollutants form ozone in the air. For example, when pollutants from cars, power plants, and factories react with sunlight.
      </p>
      <p>
       Ozone can be at unhealthy levels on hot, sunny days and even during colder months. It can travel by the wind, affecting both urban and rural areas.
      </p> 
      <h2 class="govuk-heading-m">Health effects </h2>
      <p>
        Short term exposure to ozone can cause:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>shortness of breath, wheezing and coughing</li>
        <li>asthma attacks</li>
        <li>increased risk of respiratory infections</li>
        <li>irritation of eyes, nose and throat
        </li>
      </ul>
      <p>
        Long term exposure to ozone may lead to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>increased respiratory illnesses</li>
        <li>nervous system issues</li>
        <li>reproductive issues</li>
        <li>cancer</li>
        <li>heart issues</li>
      </ul>
      <p class="govuk-body govuk-!-margin-bottom-8">With long term exposure at high levels, your lungs may start showing symptoms like coughing or difficulty breathing as it reduces the ability of the lungs to function.</p>
    </div>
{% endblock %}

