{% extends "layouts/content.html" %}
{% set caption = "Particles" %}
{% set title = "Particulate matter (PM2.5)" %}
{% from "components/pollutant_table/macro.njk" import appPollutant_table %}

{% set pageHeadingSize = pageHeadingSize or "xl" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/location"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{% if caption %}<span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title | safe }}</h1>
      <h2 class="govuk-heading-m">Sources of PM2.5</h2>
      <p>Particulate matter (PM), are small particles of solids or liquids that are in the air. The particles are only 2.5 micrometres in diameter. For context, the width of a human hair is 50 to 70 micrometres.</p>
      <p>PM<sub>2.5</sub> particles may include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>dust</li>
        <li>soot</li>
        <li>smoke</li>
        <li>drops of liquid</li>
      </ul>
      <p>The main sources of particulate matter are the:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>burning of fuel by vehicles, industry and domestic properties</li>
        <li>wear of tyres and brakes</li>
        <li>wind-blown soil and dust</li>
        <li>sea spray particles</li>
        <li>fires involving burning vegetation</li>
      </ul>
      <h2 class="govuk-heading-m">Health effects </h2>
      <p>Exposure to PM2.5 can cause illnesses like:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>asthma</li>
        <li>chronic obstructive pulmonary disease (COPD)</li>
        <li>stroke</li>
        <li>lung cancer</li>
      </ul>
      <p class="govuk-body govuk-!-margin-bottom-8">There is also evidence that links PM<sub>2.5</sub> to low birth weight, diabetes and diseases such as Alzheimer's and Parkinson's.</p>
      {{ appPollutant_table({
        caption: "PM2.5 levels <p class='govuk-!-margin-top-2'>Based on the running 8-hourly mean.</p>",
    bands: [
        { label: 'Low', value: "0 - 11" },
        { label: 'Low', value: "12 - 23" },
        { label: 'Low', value: "24 - 35" },
        { label: 'Moderate', value: "36 - 41" },
        { label: 'Moderate', value: "42 - 47" },
        { label: 'Moderate', value: "48 - 53" },
        { label: 'High', value: "54 - 58" },
        { label: 'High', value: "59 - 64" },
        { label: 'High', value: "65 - 70" },
        { label: 'Very high', value: "71 or more" }
    ]
      }) }}
    </div>
  </div>
{% endblock %}
