{% extends "layouts/content.html" %}

{% from "components/pollutant/macro.njk" import appPollutant %}
{% from "components/subsection/macro.njk" import appSubsection %}

{% set displayBacklink = false %}
{% set title = title %}
{% set caption = "Measurement station" %}

{% set pageHeadingSize = pageHeadingSize or "xl" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-{{ pageHeadingSize }}">
        {% if caption %}
        <span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title }}
      </h1>
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">
              Gases
            </h2>
            <p class="gov govuk-!-margin-bottom-6"">
              The main air pollutants that are measured in <strong>{{ title }}</strong> are nitrogen dioxide (NO&#8322;), sulphur dioxide (SO&#8322;) and ozone (O&#8323;). The sources of these gases are from burning fossil fuels such as petrol, diesel, wood and coal.
            </p>
          </div>
      </div>
    <div class="govuk-grid-row">
      {{ appSubsection({
        title: "Recent measurements",
        description: ""
      }) }}
    </div>
    <div class="govuk-grid-row">
      {{ appPollutant({
        href: "/ozone",
        type: "Ozone (O&#8323;)",
        value: (station.o3 | round) | string,
        unit: "micrograms (μg/&#13221;)",
        limit: "Limit: " + station.o3_limit + " (μg/&#13221;)",
        tagClass: 'daqi-tag daqi-tag--' + station.o3_daqi_value + ' govuk-!-margin-right-1',
        tagText: station.o3_daqi
      }) }}
      {{ appPollutant({
        href: "/nitrogen-dioxide",
        type: "Nitrogen dioxide (NO&#8322;)",
        value: (station.no2 | round) | string,
        unit: "micrograms (μg/&#13221;)",
        limit: "Limit: " + station.no2_limit + " (μg/&#13221;)",
        tagClass: 'daqi-tag daqi-tag--' + station.no2_daqi_value + '  govuk-!-margin-right-1',  
        tagText: station.no2_daqi 
      }) }}
      {{ appPollutant({
        href: "/sulphur-dioxide",
        type: "Sulphur dioxide (SO&#8322;)",
        value: (station.so2 | round) | string,
        unit: "micrograms (μg/&#13221;)",
        limit: "Limit: " + station.so2_limit + " (μg/&#13221;)",
        tagClass: 'daqi-tag daqi-tag--' + station.so2_daqi_value + '  govuk-!-margin-right-1',  
        tagText: station.so2_daqi  
      }) }}
    </div>
    <p class="govuk-body-s">Updated {{ "today" | govukDate }} at 10:00 am.</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div class="govuk-grid-row">
      {{ appSubsection({
        title: "Particles",
        description: "Particulate matter (PM) are tiny pieces of solids or liquids in the air. They come from sources such as car tyres, brake and exhaust dust, wood burning and pollen. We call particles under 2.5 micrometres, PM 2.5 and particles under 10 micrometres, PM10.
        "
      }) }}
    </div>
    <div class="govuk-grid-row">
      {{ appSubsection({
        title: "Recent measurements",
        description: ""
      }) }}
    </div>
    <div class="govuk-grid-row">
      {{ appPollutant({
        href: "/particulate-matter2",
        type: "Particles (PM2.5)",
        value: (station.pm2_5 | round) | string,
        unit: "micrograms (μg/&#13221;)",
        limit: "Limit: " + station.pm2_5_limit + " (μg/&#13221;)",
        tagClass: 'daqi-tag daqi-tag--' + station.pm2_5_daqi_value + '  govuk-!-margin-right-1',  
        tagText: station.pm2_5_daqi  
      }) }}
      {{ appPollutant({
        href: "/particulate-matter10",
        type: "Particles (PM10)",
        value: (station.pm10 | round) | string,
        unit: "micrograms (μg/&#13221;)",
        limit: "Limit: " + station.pm10_limit + " (μg/&#13221;)",
        tagClass: 'daqi-tag daqi-tag--' + station.pm10_daqi_value + '  govuk-!-margin-right-1',  
        tagText: station.pm10_daqi 
      }) }}
    </div>
    <p class="govuk-body-s govuk-!-margin-bottom-6">Updated {{ "today" | govukDate }} at 10:00 am.</p>

{% endblock %}

