{% extends "layouts/main.html" %}
{% set displayBreadcrumbs = false %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <form action="/location/">
      {{ appSearch({
          label: {
              text: "Where do you want to check?",
              classes: "govuk-label--l govuk-!-margin-bottom-6",
              isPageHeading: false
          },
          hint: {
              text: "Enter a location or postcode"
          },
          id: "q",
          name: 'q'
      }) }}
      <!-- Hidden input to pass the air quality value -->
      <input type="hidden" name="aq" value="{{ airQuality.value }}" />
  </form>
  </div>
</div>
{% endblock %}

