
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}


{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "BETA"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Change location",
    href: "../where.html"
  }) }}
{% endblock %}


