
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}


{% block pageTitle %}
{% if title %}{{ title }} – {% endif %}
{{ serviceName }} – GOV.UK
{% endblock %}


{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    useTudorCrown: true
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}

  {% if displayBacklink %}
  {{ govukBackLink({
    text: "Change location",
    href: "../where"
  }) }}
  {% endif %}
{% endblock %}
